/*
 * lay-out
 */

.wrapper {
  padding: 0 20px;
  width: 100%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background: #fff;
}

.footer {
  width: 100%;
  height: 80px;
}

.section {
  padding-top: 150px;
  margin-bottom: 100px;
  article {
    max-width: 600px;
  }
}

.sub-header {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #000;
  display: flex;
}

/*
 * styling
 */

.cta {
  display: block;
  background: #000;
  color: #fff;
  max-width: 270px;
  margin: 0 auto;
  width: 100%;
  font-weight: 700;
  font-size: 12px;
  padding: 20px 0;
  cursor: pointer;
  border: none;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background: #fff;
  padding: 20px;
}

.close-button {
  align-self: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  height: 40px;
  width: 40px;
  margin-left: 8px;
  &__icon {
    align-self: center;
    height: 4px;
    width: 4px;
    background: #000;
    border-radius: 50%;
    position: relative;
    &:before, &:after {
      content: '';
      position: absolute;
      height: 4px;
      width: 4px;
      background: #000;
      border-radius: 50%;
    }
    &:before {
      left: -12px;
      bottom: -8px;
    }
    &:after {
      left: -12px;
      bottom: 8px;
    }
  }
}

.menu-button {
  align-self: center;
  display: flex;
  margin-left: 20px;
  justify-content: center;
  cursor: pointer;
  height: 40px;
  width: 40px;
  margin-right: -16px;
  &__icon {
    align-self: center;
    height: 4px;
    width: 4px;
    background: #000;
    border-radius: 50%;
    position: relative;
    &:before, &:after {
      content: '';
      position: absolute;
      height: 4px;
      width: 4px;
      background: #000;
      border-radius: 50%;
    }
    &:before {
      top: -8px;
    }
    &:after {
      top: 8px;
    }
  }
}

.form {
  width: 100%;
  height: 100%;
  position: relative;
}

.input-group {
  width: 100%;
  max-width: 400px;
  margin: 0 auto 20px;
  select {
    display: block;
    background: #fff;
    color: #000;
    margin: 0 auto;
    width: 100%;
    font-weight: 700;
    font-size: 12px;
    padding: 20px 0;
    cursor: pointer;
    border: 1px solid #000;
  }
}

.input-submit {
  border-top: 1px solid #000;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 20px;
}

.hidden-input-group {
  display: none;
  visibility: hidden;
}

.parameters-group {
  margin-bottom: 80px;
}

.radio-input-group {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  margin: 14px 0;
  input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  label {
    display: flex;
    background-color: #fff;
    padding: 10px 20px;
    margin: 4px 4px 4px 0;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid #000;
    cursor: pointer;
  }
  input[type="radio"]:checked + label, label:hover {
    background-color: #000;
    color: #fff;
  }
  input[type="radio"]:focus + label {
    border: 1px dashed #000;
  }
  input[type="radio"]:disabled + label {
    background-color: #ddd;
    cursor: default;
    color: #000;
  }
}

.number-input-group {
  display: flex;
  justify-content: center;
  max-width: 70px;
  margin: 0 auto;
  input[type=number] {
    background-color: #fff;
    padding: 10px 20px;
    margin: 4px;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid #000;

    width: 100%;
    padding-right: 10px;
  }
}


/*
 * components
 */


.site-navigation {
  &__logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    align-self: center;
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
  }
  &__tools {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    &__cart {
      text-align: center;
      font-size: 10px;
      align-self: center;
      cursor: pointer;
      &__counter {
        font-weight: bold;
        font-size: 12px;
      }
    }
  }
}

.menu-overlay {
  display: none;
  position: fixed;
  width: 80%;
  max-width: 250px;
  height: 100%;
  background: #fff;
  z-index: 400;
  align-items: flex-start;
  flex-wrap: wrap;
  right: 0;
  border-left: 1px solid #000;
  .sub-header {
    border-bottom: 1px solid transparent;
  }
  .main-navigation {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    height: 100%;
    width: 100%;
    &__list {
      margin-top: 70px;
      &__item {
        margin-bottom: 20px;
        text-transform: uppercase;
        font-size: 15px;
      }
    }
  }
  .close-button {
    margin-left: 20px;
    margin-right: -16px;
  }
}

.advanced-filter-overlay {
  display: none;
  position: fixed;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 300;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;
  &__top-bar {
    position: fixed;
    background: #fff;
    height: 50px;
    width: 100%;
    display: flex;
    z-index: 350;
    justify-content: flex-end;
    .close-button {
      margin-left: 8px;
    }
  }
  &__filters {
    background: #fff;
    width: 100%;
    padding: 20px;
    padding-bottom: 140px;
    &__filter-group {
      padding: 20px 0;
      border-bottom: 1px solid #000;
      &:last-child {
        border-bottom: none;
      }
      &__label {
        font-weight: 700;
        padding-top: 14px;
        padding-bottom: 12px;
        text-transform: uppercase;
      }
      a {
        //font-size: 16px;
        color: currentcolor;
        width: 100%;
        text-align: left;
        padding: 0px;
        padding-right: 20px;
        margin: 0.75em 0px;
        background: rgb(255, 255, 255) none repeat scroll 0% 0%;
        display: block;
        cursor: pointer;
        position: relative;
        margin: 0px;
        line-height: 32px;
        border: none;
        overflow: visible;
        -webkit-appearance: none;
      }
      a.is-checked {
        font-weight: 700;
        &:after {
          content: '';
          display: block;
          @include translateY();
          height: 7px;
          width: 7px;
          border-radius: 50%;
          background: #000;
          right: 2px;
        }
      }
    }
  }
}

/*.cart-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 700;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;
  &__top-bar {
    position: fixed;
    background: #fff;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #000;
    display: flex;
    z-index: 350;
    justify-content: flex-end;
  }
  &__tools {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    &__cart {
      text-align: center;
      font-size: 10px;
      align-self: center;
      cursor: pointer;
      &__counter {
        font-weight: bold;
        font-size: 12px;
      }
    }
  }
  .close-button {
    margin-left: 20px;
    margin-right: -16px;
  }

} */

.cart {
  position: relative;
  padding: 140px 20px 140px;
  width: 100%;
  max-width: 600px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    &__item {
      width: 100%;
      height: auto;
      display: flex;
      margin: 10px 0;
      &:before {
        content: '';
        float: left;
        padding-top: 25%;
      }
      &__visual {
        width: 25%;
        height: 100%;
        min-height: 100px;
        background: #999;
        margin: 0 20px 10px 0;
        position: relative;
        overflow: hidden;
        &__img {
          @include translateXY();
          position: absolute;
          height: 100%;
        }
      }
      &__meta {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        &__text {
          &__variant {
            background-color: #000;
            padding: 10px 20px;
            font-size: 12px;
            text-transform: uppercase;
            border: 1px solid #000;
            color: #fff;
            margin-top: 20px;
          }
        }
        &__tools {
          display: flex;
          flex-direction: column;
          &__cta {
            padding: 0 20px;
            border: 1px solid #000;
            background: #fff;
            display: block;
            color: #000;
            margin: 0;
            font-size: 10px;
            padding: 4px;
            cursor: pointer;
            text-transform: uppercase;
            &:hover {
              background: #000;
              color: #fff;
            }
          }
          .number-input-group {
            max-width: 70px;
            input[type=number] {
              margin: 0 0 4px 0;
            }
          }
        }
      }
    }
  }
  &__sub-total {
    display: flex;
    align-items: flex-start;
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    &__title,
    &__number {
      text-transform: uppercase;
      font-weight: 700;
    }
    &__number {
      margin-left: auto;
    }
  }
  .cart__checkout {
    display: flex;
    max-width: 200px;
    margin: 0 auto;
    &__btn {
      margin: 0;
      margin-right: 20px;
      border: 1px solid #fff;
      &:last-child {
        margin-right: 0;
        margin-left: auto;
      }
    }
  }
}

.open-menu {
  .menu-overlay {
    display: flex;
  }
}

.open-cart {
  overflow: hidden;
  .cart-overlay {
    display: flex;
  }
}

.open-advanced-filter {
  overflow: hidden;
  .advanced-filter-overlay {
    display: flex;
  }
}

.shop-filter {
  &__categories {
    display: flex;
    align-items: center;
    &__item {
      font-size: 10px;
      font-weight: 800;
      margin-top: 10px;
      position: relative;
      text-align: center;
      cursor: pointer;
      &:not(:first-child) {
        margin-left: 20px;
      }
      &:hover, &.is-selected {
        .shop-filter__categories__item__arrow {
          @include translateX();
          bottom: -20px;
          height: 10px;
          width: 10px;
          background: #fff;
          &:before {
            content: "";
            width: 7px;
            height: 1px;
            background: #000;
            position: absolute;
            right: -1px;
            top: 2px;
            transform: rotate(45deg);
          }
          &:after {
            content: "";
            width: 7px;
            height: 1px;
            background: #000;
            position: absolute;
            left: -1px;
            top: 2px;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
  &__advanced {
    border: 1px solid #000;
    font-size: 10px;
    padding: 8px 15px;
    background: transparent;
    text-align: center;
    align-self: center;
    margin-left: auto;
    cursor: pointer;
    &__capitals {
      text-transform: uppercase;
    }
    &:hover {
      background: #000;
      color: #fff;
    }
  }
}

.shop {
  position: relative;
  z-index: 90;
  padding: 140px 0;
  width: 100%;
  &__list {
    display: flex;
    flex-wrap: wrap;
    &__item {
      padding: 20px;
      width: 50%;
      height: auto;
      display: flex;
      flex-direction: column;
      &__visual {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        &:before {
          content: '';
          float: left;
          padding-top: 66.66%;
        }
        &__holder {
          width: 100%;
          height: 100%;
          background: #999;
          position: relative;
          overflow: hidden;
          &__img {
            @include translateXY();
            position: absolute;
            height: 100%;
            width: 100%;
          }
        }
      }
      &__text {
        h4 {
          margin-bottom: 14px;
        }
        p {
          font-size: 10px;
          line-height: 17px;
        }
      }
    }
  }
}

.shop-item {
  &__gallery {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    &__item {
      margin-right: 4px;
      min-width: 25%;
      height: auto;
      display: flex;
      flex-direction: column;
      &__visual {
        width: 100%;
        height: auto;
        position: relative;
        background: #fff;
        &:before {
          content: '';
          float: left;
          padding-top: 66.66%;
        }
        &__img {
          @include translateXY();
          position: absolute;
          height: 100%;
          width: 100%;
        }
        &__img.being-displayed {
          opacity: 0.7;
        }
      }
    }
  }
}

.item-page {
  .shop {
    padding: 0 0 50px;
  }
}

.shop-item {
  position: relative;
  z-index: 90;
  width: 100%;
  padding-top: 150px;
  &__text {
    margin-bottom: 25px;
    &__name {
      font-size: 26px;
    }
    &__brand {
      font-size: 12px;
    }
    &__price {
      font-size: 10px;
    }
  }
  &__visual {
    width: 100%;
    background: #999;
    position: relative;
    overflow: hidden;
    height: auto;
    margin-bottom: 30px;
    &:before {
      content: '';
      float: left;
      padding-top: 66.66%;
    }
    &__img {
      @include translateXY();
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }
  &__article {
    margin: 50px 0;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  input[type="text"], input[type="tel"], input[type="email"], textarea {
    display: flex;
    background-color: #fff;
    padding: 10px 20px;
    margin: 4px 4px 4px 0;
    font-size: 12px;
    border: 1px solid #000;
    font-family: 'Raleway', sans-serif;
  }
  textarea {
    margin-bottom: 20px;
    resize: vertical;
  }
}

.footer {
  background: #000;
  color: #fff;
  display: flex;
  &__logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    align-self: center;
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
  }
}

.g-recaptcha {
  margin-top: 140px !important;
}
