/*
 * lay-out
 */

.wrapper {
  padding: 0 20px;
  width: 100%;
}

/*
 * components
 */

.header {
  position: fixed;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #000;
  display: flex;
  &__logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    align-self: center;
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
  }
  &__tools {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    &__cart {
      text-align: center;
      font-size: 10px;
      align-self: center;
      &__counter {
        font-weight: bold;
        font-size: 12px;
      }
    }
    &__menu-icon {
      margin-left: 40px;
      align-self: center;
      height: 4px;
      width: 4px;
      background: #000;
      border-radius: 50%;
      position: relative;
      cursor: pointer;
      &:before, &:after {
        content: '';
        position: absolute;
        height: 4px;
        width: 4px;
        background: #000;
      }
      &:before {
        top: -8px;
      }
      &:after {
        top: 8px;
      }
    }
  }
}

.shop {
  &__filter {
    
  }
}

/*
 * styling
 */
