@media only screen and (min-width: 470px) {
  .advanced-filter-overlay {
    max-width: 400px;
    border-left: 1px solid #000;
    &__top-bar, .bottom-bar {
      max-width: 400px;
      right: 0;
      border-left: 1px solid #000;
    }
  }
}

@media only screen and (min-width: 600px) {
  h2, .title-2 {
    font-size: 14px;
  }
  h3, .title-3 {
    font-size: 9px;
  }

  .shop__list__item {
    width: 33.33%;
    &__visual {
      margin-bottom: 20px;
    }
    &__text {
      p {
        font-size: 12px;
        line-height: 20px;
      }
    }
  }
}

@media only screen and (min-width: 700px) {
  h2, .title-2 {
    font-size: 17px;
  }
  h4, .title-4 {
    font-size: 12px;
  }

  .menu-button {
    display: none;
  }
  .site-navigation__menu {
    display: flex;
  }
  .shop-filter {
    &__categories {
      &__item {
        font-size: 12px;
        &:hover, &.is-selected {
          .shop-filter__categories__item__arrow {
            bottom: -19px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 960px) {
  .show {
    margin-bottom: 70px;
  }
  .shop-item {
    &__meta {
      width: 40%;
    }
    &__meta, &__article {
      float: right;
    }
    &__article {
      width: 60%;
    }
    &__article, &__text {
      padding-left: 10%;
      margin-top: 0;
    }
  }
  .shop {
    clear: both;
  }
}

@media only screen and (min-width: 1100px) {
  .shop__list__item {
    width: 25%;
  }
}

@media only screen and (max-width: 960px) {
  .shop-item {
    &__gallery {
      flex-direction: row;
      height: 100px;
      width: 100%;
      top: auto;
      bottom: 0;
      background: none;
      &__item {
        margin: 5px 12px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #fff;
        border: 1px solid #000;
        cursor: pointer;
        &__visual {
          display: none;
        }
      }
      &__item.is-being-displayed, &__item:hover {
        margin: 0 9px;
        height: 20px;
        width: 20px;
        opacity: 1;
      }
    }
  }
}
