@media only screen and (min-width: 470px) {
  .advanced-filter-overlay {
    max-width: 400px;
    border-left: 1px solid #000;
    &__top-bar, .bottom-bar {
      max-width: 400px;
      right: 0;
      border-left: 1px solid #000;
    }
  }
}

@media only screen and (min-width: 600px) {
  .shop__list__item {
    width: 50%;
    &__visual {
      margin-bottom: 20px;
    }
  }
}

@media only screen and (min-width: 700px) {
  .menu-button {
    display: none;
  }
  .site-navigation__menu {
    display: flex;
  }
  .shop-filter {
    &__categories {
      &__item {
        font-size: 12px;
        &:hover, &.is-selected {
          .shop-filter__categories__item__arrow {
            bottom: -19px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 960px) {
  .show {
    margin-bottom: 70px;
  }
  .shop__list__item {
    width: 33.3333%;
  }
  .shop-item {
    &__meta {
      width: 40%;
    }
    &__meta, &__article {
      float: right;
    }
    &__article {
      width: 60%;
    }
    &__article, &__text {
      padding-left: 10%;
      margin-top: 0;
    }
  }
  .shop {
    clear: both;
  }
  .shop-item__visual {
    padding-left: 100px;
  }
  .wrapper {
    padding: 0 5%;
  }
  .shop, .cart {
    padding-top: 140px;
    padding-bottom: 140px;
  }
}

@media only screen and (min-width: 1300px) {
  .shop__list__item {
    width: 25%;
  }
}

@media only screen and (max-width: 960px) {
  .shop-item {
    &__gallery-controls {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 400;
      &__btn {
        height: 34px;
        width: 28px;
        cursor: pointer;
        margin: 20px;
        display: flex;
        align-items: center;
        position: relative;
        &__circles {
          width: 10px;
          height: 10px;
          background: #fff;
          border: 1px solid #000;
          border-radius: 50%;
        }
        &:before, &:after {
          content: '';
          display: block;
          position: absolute;
          width: 10px;
          height: 10px;
          background: #fff;
          border: 1px solid #000;
          border-radius: 50%;
          right: 0;
        }
        &:before {
          top: 0;
        }
        &:after {
          bottom: 0;
        }
      }
      &__btn--right {
        justify-content: flex-end;
        &:before, &:after {
          right: auto;
          left: 0;
        }
      }
      &__btn.is-hidden {
        visibility: hidden;
        cursor: auto;
      }
      &__pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 34px;
        min-width: 70px;
        font-size: 14px;
        background: #fff;
        border: 1px solid #000;
        padding: 0 10px;
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 10px;
          margin: 0 2px;
        }
      }
    }
    &__gallery {
      flex-direction: row;
      height: 100px;
      width: 100%;
      top: auto;
      bottom: 0;
      background: none;
      &__item {
        display: none;
      }
    }
  }
}
